@model ConferenceManagement.Web.Models.SpeakerViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>SpeakerViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSpeaker" class="control-label"></label>
                <input asp-for="IdSpeaker" class="form-control" readonly />
                <span asp-validation-for="IdSpeaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeechName" class="control-label"></label>
                <input asp-for="SpeechName" class="form-control" />
                <span asp-validation-for="SpeechName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeechDateTime" class="control-label"></label>
                <input asp-for="SpeechDateTime" class="form-control" />
                <span asp-validation-for="SpeechDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdConference" class="control-label"></label>
                <select asp-for="IdConference" asp-items="Model.Conferences"></select>
                <span asp-validation-for="IdConference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
